@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  padding-top: 100px;
  background-image: url(/img/spencer-watson-p0Yupww_SNM-unsplash.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

header {
  background-color: black;
  height: 65px;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}

nav li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

section {
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}

article {
  border-bottom: 1px solid lightgrey;
}

h5 {
  text-align: center;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0px;
  left: 0px;
  background-color: mediumvioletred;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 10px auto;
  margin-bottom: 0;
}